.App {
  background-color: #FD5842;
  height: 945px;
}

.main {
  width: 1400px;
  height: 700px;
  position: fixed;
  /* or absolute */
  top: 20%;
  left: 13.55%;
  background: url('./images/background.png');
  box-sizing: border-box;
  border-radius: 5px;
}

.top_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: fixed;
  /* or absolute */
  top: 10%;
  left: 50%;
}

.items {
  position: absolute;
  width: 362px;
  height: 378px;
  left: 65%;
  top: 107px;
  background: rgba(23, 25, 50, 0.6);
  box-shadow: 0px 4px 14px rgba(23, 25, 50, 0.5);
  border-radius: 10px;
  overflow: overlay;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

input {
  display: block;
}

.form {
  position: absolute;
  width: 362px;
  height: 378px;
  left: 8%;
  top: 102px;

  background: rgba(23, 25, 50, 0.6);
  box-shadow: 0px 4px 14px rgba(23, 25, 50, 0.5);
  border-radius: 10px;
  padding: 18px;
}

.bigInput {
  height: 151px !important;
}

.image {
  position: absolute;
  left: 41.34%;
  right: 41.34%;
  top: -3%;
  bottom: 45.33%;
  border-radius: 10px;
  height: 277px;
  width: 350px;
}

.item {
  border-right: 0px #d1d1d1 solid;
  border-left: 0px #d1d1d1 solid;
  border-top: 0px;
}